* {
  font-family: "Courier New", Courier, monospace;
}

body {
width: 50%;
    margin: 0 auto;
    text-align: center;
}

a:hover {
    background-color: black;
    color: #fff;
    padding: 1%;
    border-radius: 10px;
    text-decoration: none;
}
