@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html {
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #fff;
  background-color: black;
  display: grid;
  margin: 5% auto;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: black;
    margin: 3% 0;
    background-color: #f4f4f4;
    padding: 20px;
  font-weight: 800;
}


